quran-madina-html {
  --qmh-background: #F5F5DC; /*#beige; */
  --qmh-header: black; /* #dimgrey; */
  display: inline-flex;
  direction: rtl;
  background-color:color-mix(in srgb, var(--qmh-background) 20%, transparent);
  border-radius: 5px;
  overflow: hidden;
}
quran-madina-html-header {
  background-color: color-mix(in srgb, var(--qmh-header) 20%, transparent);
  font-size: smaller;
  display: block;
  padding: 0 5px 0 10px;
  color: var(--qmh-background);
  height: 25px;
}
quran-madina-html-copy {
  background-color: color-mix(in srgb, var(--qmh-header) 20%, transparent);
  display: inline-block;
  padding: 0 5px;
  margin-right: 3px;
}
quran-madina-html-line {
  text-align: right;
  white-space: nowrap;
  transform-origin: top right;
  margin-right: 5px;
}
.quran-madina-html-part{
  transition: background-color 0.5s ease;
}
quran-madina-html-line:has(.quran-madina-html-sura-start){
  background-image: url(../assets/img/sura_border_sym4.svg);
  background-size: 100% 100%;
  background-repeat:no-repeat;
  /*background-color: currentColor;
  mask-image:url(../assets/img/sura_border_sym4.svg);
  mask-size: 100% 100%; */
}
svg.quran-madina-html-icon {
  float:left; 
  padding:4px 4px 0 7px;
  border-radius: 5px;
}
svg.quran-madina-html-icon:hover {
  background-color: rgba(black, 0.8);
}
svg.quran-madina-html-icon path {
  fill: var(--qmh-background);
}
